@media screen and (max-width: 1200px) {
    img {
        position: static;
        width: 100%;
    }

    .content_box {
        width: 100%;
        margin: auto;
    }
}

header {
    width: 80%;
    margin: auto;
    /*position: sticky;*/
    top: 0;
    background-color: whitesmoke;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: #24292e;
    box-sizing: border-box;
}

footer {
    height: 50px;
}

.content_box {
   /* position: relative;*/
    width: 65%;
    margin: auto;
}

.nav_bar {
	background: linear-gradient(to bottom,#e8e8e8,#dbdcdc);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cbcdd0;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.nav_bar li, img {
    display: inline-block;
}

.nav_bar .menu {
    list-style-type: none;
	margin: 0;
}

.nav_bar a, .nav_bar span {
	color: #3b424a;
	padding: 5px .75rem;
	font-weight: 700;
	text-shadow: 1px 0 #fff;
}

/*
.nav_bar .dropdown span::after {
	content: '▼';
}
*/

.nav_bar .dropdown span:hover, a:hover {
	color: rgb(240, 175, 12);
}

.nav_bar .dropdown ul {
	position: absolute;
	left: .75rem;
	margin: 0;
	display: none;
	padding: 5px;
	background: #f8f8f8;
	border: 1px solid #ebebeb;
	min-width: 7rem;
	z-index: 3;
}

.logo {
    margin-top: 1rem;
    margin-left: 1rem;
}

#nav_bar-brand_1 {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	font-size: 1.5rem;
	line-height: inherit;
    white-space: nowrap;
    color: black;
    font-weight: 700;
}

#nav_bar-brand_2 {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	font-size: 1.5rem;
	line-height: inherit;
    white-space: nowrap;
    color: rgb(240, 175, 12);
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

h1, h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

b, strong {
    font-weight: 600;
}

img {
    max-width: 600px;
}

blockquote {
    margin: 0;
    margin-bottom: 18px;
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

hr {
	height: .25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

a {
	color: #0366d6;
	text-decoration: none;
}

figcaption {
    margin-top: 15px;
    font-style: italic;
    text-align: center;
}

.history {
    color: #4A5057;
}

.content_fig {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content_list > h3 {
    margin-bottom: -10px;
}

.glossary blockquote {
    color: #4A5057;
    border-left: .25em solid #c78438c0;
}

.glossary strong, b {
    color: rgb(35, 53, 73);
}

.fig_and_glossary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fig_and_glossary .glossary {
    margin-top: 0px;
    flex-basis: 300px;
    flex-grow: 1;
}

.fig_and_glossary .content_fig {
    margin-left: 0;
    flex-basis: 300px;
    flex-grow: 1;
    /*width: 50%;*/
    /*float: left;*/
}

.fig_and_glossary .content_fig img {
   margin-left: 0;
}

.fig_and_glossary .content_fig figcaption {
    margin-right: 9%;
}

#long_content_fig {
    position: sticky;
    top: 100px;
    align-self: flex-start;
    margin-left: 0;
    flex-basis: 300px;
    flex-grow: 1;
}