@media screen and (max-width: 1200px) {
    img {
        width: 100%;
    } 
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: #24292e;
    box-sizing: border-box;
}

.content_box {
    position: relative;
    width: 65%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

h1, h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

b, strong {
    font-weight: 600;
}

img {
    max-width: 600px;
}

blockquote {
    margin: 0;
    margin-bottom: 18px;
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

hr {
	height: .25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

a {
	color: #0366d6;
	text-decoration: none;
}

.history {
    color: #4A5057;
}

.content_fig {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content_fig figcaption {
    font-style: italic;
    text-align: center;
}

.content_fig img {
    margin-left: 25%;
    padding-bottom: .5em;
}

.content_list > h3 {
    margin-bottom: -10px;
}

.glossary blockquote {
    color: #4A5057;
    border-left: .25em solid #c78438c0;
}

.glossary strong, b {
    color: rgb(35, 53, 73);
}

.fig_and_glossary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fig_and_glossary .glossary {
    flex-basis: 300px;
    flex-grow: 1;
}

.fig_and_glossary .content_fig {
    margin-left: 0;
    /*width: 50%;*/
    /*float: left;*/
}

.fig_and_glossary .content_fig img {
   margin-left: 0;
}

.fig_and_glossary .content_fig figcaption {
    margin-right: 9%;
}

#comp_layers {
    margin-left: 10%;
}